<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    

    

    <form action="/login" method="post">
        <h2>Log In</h2>

        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" class="button">
        
        <a href="/signup">Make a new account</a>
    </form>

    


</body>
</html>